.aside {
  display: flex;
  flex-flow: column nowrap;
  max-width: 33%;

  @include large-display {
    flex-grow: 1;
    max-width: 100%;
    margin-left: 0;
    flex-wrap: wrap;
  }

  &Section {
    @include large-display {
      width: fit-content;
    }

    &Title {
      @extend h4;

      font-size: ms(3);
      margin-bottom: $spacing-200;
    }
  }

  &Note {
    @extend .paragraph;

    margin-bottom: $spacing-50;
  }
}
