.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--spacing-300);
  }

  &__content {
    display: flex;
    flex-direction: column;
    & > .prose {
      font-size: var(--fs-step-1);
    }
  }

  &__title {
    @extend h3;

    font-size: var(--fs-step-3);
    margin: var(--spacing-300) 0;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: var(--spacing-400);

    @include small-display {
      gap: var(--spacing-100);
      flex-direction: column;
      align-items: flex-start;
    }

    &__tagsContainer {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-50);
      padding: var(--spacing-200) 0;
    }
    &__repo {
      display: flex;
      gap: var(--spacing-50);
      align-items: center;
      padding: var(--spacing-100) 0;

      @include small-display {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &Name {
        @include transition(color);
        @include transition(background-color);
        //font-variation-settings: $text-code-block, $text-light-theme-regular;
        border-radius: 4px;
        padding: var(--spacing-25);
        color: var(--neutral-900);
        background-color: var(--neutral-100);
      }

      &Type {
        display: inline-flex;
        text-transform: uppercase;
        margin-bottom: var(--spacing-25);
        font-variation-settings: 'wght' 500;
        &.--side {
          color: var(--color-citrine-600);
        }
        &.--group {
          color: var(--color-cobalt-600);
        }
        &.--openClassrooms {
          color: var(--color-amethyst-600);
        }
      }
      &Status {
        @include transition(color);
        @include transition(background-color);
        //font-variation-settings: $text-code-block, 'wght' 500;
        border-radius: 4px;
        padding: var(--spacing-25);
          &.--active {
            color: var(--color-emerald-800);
            background-color: var(--color-emerald-200);
          }
          &.--done {
            color: var(--color-cobalt-800);
            background-color: var(--color-cobalt-100);
          }
          &.--onHold {
            color: var(--color-ruby-800);
            background-color: var(--color-ruby-200);
          }
          &.--abandoned {
            color: var(--neutral-500);
            background-color: transparent;
          }
      }
    }

    &__public {
      &Status {
        &.--soon {
          font-size: var(--fs-step-1);
          color: var(--neutral-500);
          padding: var(--spacing-50) var(--spacing-150);
        }
      }
    }
    
  }

  &__date {
    font-size: var(--fs-step-1);
    //font-variation-settings: $text-code-block, $text-light-theme-regular;
  }

  &__footer {
    display: flex;
    gap: $spacing-200;
    align-items: center;
    padding-top: $spacing-100;
    border-top: 1px solid var(--neutral-800);
  }
}