@use "../modules/transitions";
@use "../modules/breakpoints";

.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding: var(--spacing-200) var(--spacing-400);

  @include breakpoints.medium-display {
    text-align: center;
    flex-direction: column-reverse;
    gap: var(--spacing-200);
    padding: var(--spacing-200) var(--spacing-400);

    .copyright {
      text-align: center;
      margin-top: var(--spacing-200);
    }
  }

  &__column {
    &__last {
      display: flex;
      align-items: center;
      gap: var(--spacing-200);

      @include breakpoints.medium-display {
        flex-direction: column-reverse;
        justify-content: center;
      }

      .link.--navigation {
        font-size: var(--fs-step-1);
      }
    }
  }
}
