@use "../modules/transitions";
@use "../modules/breakpoints";
@use "../modules/typography";

.hero {
  display: flex;

  &.--pageCover {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: space-between;
    padding: var(--spacing-400);
    height: calc(100lvh - 306px);

    @include breakpoints.medium-display {
      flex-flow: column;
      gap: var(--spacing-400);
      height: auto;
      padding: var(--spacing-200);
    }
  }

  &.--pageBanner {
    flex-direction: column;
    gap: var(--spacing-200);
    padding: var(--spacing-400);

    @include breakpoints.very-very-large-display {
      padding: var(--spacing-400);
      padding-top: var(--spacing-800);
    }

    @include breakpoints.very-large-display {
      padding: var(--spacing-400);
      padding-top: var(--spacing-800);
    }

    @include breakpoints.large-display {
      padding: var(--spacing-400);
      padding-top: calc(var(--spacing-400) + 3rem);
    }

    @include breakpoints.medium-display {
      padding: var(--spacing-400);
      padding-top: calc(var(--spacing-600) + 3rem);
    }

    @include breakpoints.small-display {
      height: fit-content;
      padding: 0 var(--spacing-200);
      padding-top: calc(var(--spacing-400) + 3rem);
    }

    .display {
      margin-bottom: 0;
    }

    hr {
      width: 100%;
    }
  }

  &__introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include breakpoints.small-display {
      justify-content: space-between;
      gap: var(--spacing-400);
    }
  }

  &__name {
    margin-bottom: 0;
  }

  &__role {
    font-family: var(--font-text);
    font-size: var(--fs-step-4);
    // font-variation-settings: var(--weight-base);
    font-variation-settings: 'wght' 300;
    color: var(--neutral-600);
    margin-bottom: 0;
    &Container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-50);
    }
  }

  &__description {
    font-family: var(--font-text);
    font-variation-settings: 'wght' 300;
    font-size: var(--fs-step-5);
    color: var(--neutral-800);
  }

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    gap: var(--spacing-200);
    &__section {
      text-align: end;
      &Title {
        @extend %prose;
        font-variation-settings: "wght" 600;
        text-transform: uppercase;
        font-size: var(--fs-step-2);
        margin-bottom: var(--spacing-50);
      }
      &Content {
        @extend %prose;
        font-size: var(--fs-step-1);
      }
    }
  }
}
