@use "../modules/transitions";
@use "../modules/theme";

a,
.link,
%link {
  @include transitions.transition(all);
  @include transitions.transition(font-variation-settings);

  width: fit-content;
  line-height: var(--spacing-body-line-height);
  font-variation-settings: var(--text-dark-theme-regular);
  color: var(--color-cobalt-200);

  &:hover {
    color: var(--color-emerald-200);
    text-decoration: underline;
  }

  &:visited {
    color: var(--color-amethyst-200);
  }


  &.--siteName {
    font-family: var(--font-display);
    font-size: var(--fs-step-1);
    font-variation-settings: 'wght' 500;
    text-decoration: none;
    color: var(--neutral-800);
    align-items: center;
    &:hover {
      display: inline;
      color: var(--cobalt-500);
    }
  }

  &.--hasIcon {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-100);
  }

  &.--out {
    //@include transition(all);
    display: inline-flex;
    font-size: var(--fs-step-1);
    color: inherit;
    padding: var(--spacing-25) var(--spacing-100);
    text-decoration: none;
    border-radius: 8px;

    //&:hover,
    //&:focus {
    //  @include colored-block("gray", "interactive");
    //}
    //
    // &:visited {
    //   @include transition(all);
    //   @include colored-block("color-amethyst");
    // }
  }

  &.--ui {
    @extend %link;
    @include transitions.transition(all);

    text-decoration: none;
    color: inherit;
    font-size: var(--fs-step-1);
    padding: var(--spacing-50) var(--spacing-150);
    border-radius: 8px;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: underline;
      //@include colored-block("gray", "interactive");
    }
  }

  &.--navigation {
    @extend %link;
    @include transitions.transition(all);

    color: inherit;
    width: fit-content;
    font-size: var(--fs-step-1);
    line-height: var(--spacing-body-line-height);
    text-decoration: none;
    padding: var(--spacing-25) var(--spacing-100);
    border-radius: 8px;

    &:hover,
    &:focus {
      background-color: var(--neutral-100);
      color: var(--neutral-800);
    }
  }
}
