@use "../modules/transitions";
@use "../modules/breakpoints";
@use "../modules/theme";

.tag {
  @include transitions.transition(all);

  display: inline-flex;
  align-items: center;
  font-size: var(--fs-step-1);
  width: fit-content;
  border-radius: 16px;
  padding: var(--spacing-25) var(--spacing-100);

  @include breakpoints.small-display {
    border-radius: 12px;
    padding: var(--spacing-25) var(--spacing-50);
  }

  &Container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-50);
    margin-bottom: var(--spacing-200);

    &:last-of-type {
      margin-bottom: var(--spacing-200);
    }
  }

  &.--outline {
    color: var(--neutral-800);
    border: solid 1px var(--neutral-100);
  }

  &.--filled {
    color: var(--neutral-100);
    background-color: var(--neutral-900);
  }
}
//}
