:root {
  --width-text: 72ch;
  --width-block: 96rem;

  --font-display: Bricolage Grotesque, system-ui, sans-serif;
  --font-text: InterVar, system-ui, sans-serif;

  --fs-step-0: clamp(0.833rem, 0.005vi + 0.832rem, 0.84rem);
  --fs-step-1: clamp(1rem, 0.139vi + 0.965rem, 1.188rem);
  --fs-step-2: clamp(1.2rem, 0.355vi + 1.111rem, 1.679rem);
  --fs-step-3: clamp(1.44rem, 0.692vi + 1.267rem, 2.374rem);
  --fs-step-4: clamp(1.728rem, 1.207vi + 1.426rem, 3.357rem);
  --fs-step-5: clamp(2.074rem, 1.98vi + 1.579rem, 4.747rem);
  --fs-step-6: clamp(2.488rem, 3.129vi + 1.706rem, 6.712rem);
  --fs-step-7: clamp(2.986rem, 4.819vi + 1.781rem, 9.491rem);
  --fs-step-8: clamp(3.583rem, 7.287vi + 1.761rem, 13.421rem);
  --fs-step-9: clamp(4.3rem, 10.872vi + 1.582rem, 18.977rem);
  --fs-step-10: clamp(5.16rem, 16.055vi + 1.146rem, 26.834rem);

  /* ----- Spacing ----- */
  --spacing-kerning: normal;
  --spacing-letter-spacing-display: -0.1rem;
  --spacing-letter-spacing-title: -0.08rem;
  --spacing-letter-spacing-text: 0.05rem;
  --spacing-display-line-height: 1.16;
  --spacing-large-text-line-height: 1.7;
  --spacing-body-line-height: 1.6;
  --spacing-25: 0.25rem;
  --spacing-50: 0.5rem;
  --spacing-100: 1rem;
  --spacing-150: 1.5rem;
  --spacing-200: 2rem;
  --spacing-300: 3rem;
  --spacing-400: 4rem;
  --spacing-600: 6rem;
  --spacing-800: 8rem;
  --spacing-1600: 16rem;
  --spacing-2400: 24rem;
  --spacing-3200: 32rem;
}

[data-theme="dark"] {
  --weight-base-var: "wght" 330;
  --weight-base-static: 300;
  --neutral-950: #F5F6F6;
  --neutral-900: #E6E7E7;
  --neutral-800: #CFD1D2;
  --neutral-700: #ADB1B3;
  --neutral-600: #84898C;
  --neutral-500: #696E71;
  --neutral-400: #5A5E60;
  --neutral-300: #4C5052;
  --neutral-200: #434547;
  --neutral-100: #3B3C3E;
  --neutral-50: #1E1F20;
  --neutral-0: #0D0D0D;

  --color-ruby-950: #FDF3F3;
  --color-ruby-900: #FCE7E9;
  --color-ruby-800: #F8D3D8;
  --color-ruby-700: #F2AFB8;
  --color-ruby-600: #EA8293;
  --color-ruby-500: #DD6077;
  --color-ruby-400: #CA3457;
  --color-ruby-300: #B4294D;
  --color-ruby-200: #8E2343;
  --color-ruby-100: #7A213D;
  --color-ruby-50: #440D1E;

  --color-amber-950: #FCF6EE;
  --color-amber-900: #F5E6D0;
  --color-amber-800: #E9CB9E;
  --color-amber-700: #DEAC6B;
  --color-amber-600: #D69349;
  --color-amber-500: #dd9140;
  --color-amber-400: #B5592A;
  --color-amber-300: #974126;
  --color-amber-200: #7C3424;
  --color-amber-100: #662C21;
  --color-amber-50: #3A140E;

  --color-citrine-950: #FBFAEB;
  --color-citrine-900: #F6F1CB;
  --color-citrine-800: #EEE29A;
  --color-citrine-700: #E4CC60;
  --color-citrine-600: #DEBC46;
  --color-citrine-500: #CB9F27;
  --color-citrine-400: #AF7D1F;
  --color-citrine-300: #8C5B1C;
  --color-citrine-200: #754A1E;
  --color-citrine-100: #643E1F;
  --color-citrine-50: #3A200E;

  --color-emerald-950: #F0F9F2;
  --color-emerald-900: #DCEFDE;
  --color-emerald-800: #BBDFC1;
  --color-emerald-700: #8EC79B;
  --color-emerald-600: #5EA972;
  --color-emerald-500: #3D8D55;
  --color-emerald-400: #2B7041;
  --color-emerald-300: #235936;
  --color-emerald-200: #1E472D;
  --color-emerald-100: #193B25;
  --color-emerald-50: #0D2115;

  --color-cobalt-950: #EBF1FD;
  --color-cobalt-900: #DEE8FB;
  --color-cobalt-800: #C5D8F8;
  --color-cobalt-700: #9CBFF4;
  --color-cobalt-600: #6E9CEC;
  --color-cobalt-500: #4C79E5;
  --color-cobalt-400: #375DD9;
  --color-cobalt-300: #2E49C7;
  --color-cobalt-200: #2F43B2;
  --color-cobalt-100: #283880;
  --color-cobalt-50: #1C244F;

  --color-amethyst-950: #F0E9F5;
  --color-amethyst-900: #DFD2EA;
  --color-amethyst-800: #CCB7DE;
  --color-amethyst-700: #B89CD2;
  --color-amethyst-600: #A581C6;
  --color-amethyst-500: #9266BA;
  --color-amethyst-400: #7F4CAE;
  --color-amethyst-300: #663A90;
  --color-amethyst-200: #4C2B6B;
  --color-amethyst-100: #341D4A;
  --color-amethyst-50: #1D1029;
}

[data-theme="light"] {
  --weight-base-var: "wght" 350;
  --weight-base-static: 400;

  --neutral-950: #0D0D0D;
  --neutral-900: #1E1F20;
  --neutral-800: #3B3C3E;
  --neutral-700: #434547;
  --neutral-600: #4C5052;
  --neutral-500: #5A5E60;
  --neutral-400: #696E71;
  --neutral-300: #84898C;
  --neutral-200: #ADB1B3;
  --neutral-100: #CFD1D2;
  --neutral-50: #E6E7E7;
  --neutral-0: #F5F6F6;

  --color-ruby-950: #440D1E;
  --color-ruby-900: #7A213D;
  --color-ruby-800: #8E2343;
  --color-ruby-700: #B4294D;
  --color-ruby-600: #CA3457;
  --color-ruby-500: #DD6077;
  --color-ruby-400: #EA8293;
  --color-ruby-300: #F2AFB8;
  --color-ruby-200: #F8D3D8;
  --color-ruby-100: #FCE7E9;
  --color-ruby-50: #FDF3F3;

  --color-amber-950: #3A140E;
  --color-amber-900: #662C21;
  --color-amber-800: #7C3424;
  --color-amber-700: #974126;
  --color-amber-600: #B5592A;
  --color-amber-500: #dd9140;
  --color-amber-400: #D69349;
  --color-amber-300: #DEAC6B;
  --color-amber-200: #E9CB9E;
  --color-amber-100: #F5E6D0;
  --color-amber-50: #FCF6EE;

  --color-citrine-950: #3A200E;
  --color-citrine-900: #643E1F;
  --color-citrine-800: #754A1E;
  --color-citrine-700: #8C5B1C;
  --color-citrine-600: #AF7D1F;
  --color-citrine-500: #CB9F27;
  --color-citrine-400: #DEBC46;
  --color-citrine-300: #E4CC60;
  --color-citrine-200: #EEE29A;
  --color-citrine-100: #F6F1CB;
  --color-citrine-50: #FBFAEB;

  --color-emerald-950: #0D2115;
  --color-emerald-900: #193B25;
  --color-emerald-800: #1E472D;
  --color-emerald-700: #235936;
  --color-emerald-600: #2B7041;
  --color-emerald-500: #3D8D55;
  --color-emerald-400: #5EA972;
  --color-emerald-300: #8EC79B;
  --color-emerald-200: #BBDFC1;
  --color-emerald-100: #DCEFDE;
  --color-emerald-50: #F0F9F2;

  --color-cobalt-950: #1C244F;
  --color-cobalt-900: #283880;
  --color-cobalt-800: #2F43B2;
  --color-cobalt-700: #2E49C7;
  --color-cobalt-600: #375DD9;
  --color-cobalt-500: #4C79E5;
  --color-cobalt-400: #6E9CEC;
  --color-cobalt-300: #9CBFF4;
  --color-cobalt-200: #C5D8F8;
  --color-cobalt-100: #DEE8FB;
  --color-cobalt-50: #EBF1FD;

  --color-amethyst-950: #1D1029;
  --color-amethyst-900: #341D4A;
  --color-amethyst-800: #4C2B6B;
  --color-amethyst-700: #663A90;
  --color-amethyst-600: #7F4CAE;
  --color-amethyst-500: #9266BA;
  --color-amethyst-400: #A581C6;
  --color-amethyst-300: #B89CD2;
  --color-amethyst-200: #CCB7DE;
  --color-amethyst-100: #DFD2EA;
  --color-amethyst-50: #F0E9F5;
}

$color-ruby-950: var(--color-ruby-950);
$color-ruby-900: var(--color-ruby-900);
$color-ruby-800: var(--color-ruby-800);
$color-ruby-700: var(--color-ruby-700);
$color-ruby-600: var(--color-ruby-600);
$color-ruby-500: var(--color-ruby-500);
$color-ruby-400: var(--color-ruby-400);
$color-ruby-300: var(--color-ruby-300);
$color-ruby-200: var(--color-ruby-200);
$color-ruby-100: var(--color-ruby-100);
$color-ruby-50: var(--color-ruby-50);
$color-amber-950: var(--color-amber-950);
$color-amber-900: var(--color-amber-900);
$color-amber-800: var(--color-amber-800);
$color-amber-700: var(--color-amber-700);
$color-amber-600: var(--color-amber-600);
$color-amber-500: var(--color-amber-500);
$color-amber-400: var(--color-amber-400);
$color-amber-300: var(--color-amber-300);
$color-amber-200: var(--color-amber-200);
$color-amber-100: var(--color-amber-100);
$color-amber-50: var(--color-amber-50);
$color-citrine-950: var(--color-citrine-950);
$color-citrine-900: var(--color-citrine-900);
$color-citrine-800: var(--color-citrine-800);
$color-citrine-700: var(--color-citrine-700);
$color-citrine-600: var(--color-citrine-600);
$color-citrine-500: var(--color-citrine-500);
$color-citrine-400: var(--color-citrine-400);
$color-citrine-300: var(--color-citrine-300);
$color-citrine-200: var(--color-citrine-200);
$color-citrine-100: var(--color-citrine-100);
$color-citrine-50: var(--color-citrine-50);
$color-emerald-950: var(--color-emerald-950);
$color-emerald-900: var(--color-emerald-900);
$color-emerald-800: var(--color-emerald-800);
$color-emerald-700: var(--color-emerald-700);
$color-emerald-600: var(--color-emerald-600);
$color-emerald-500: var(--color-emerald-500);
$color-emerald-400: var(--color-emerald-400);
$color-emerald-300: var(--color-emerald-300);
$color-emerald-200: var(--color-emerald-200);
$color-emerald-100: var(--color-emerald-100);
$color-emerald-50: var(--color-emerald-50);
$color-cobalt-950: var(--color-cobalt-950);
$color-cobalt-900: var(--color-cobalt-900);
$color-cobalt-800: var(--color-cobalt-800);
$color-cobalt-700: var(--color-cobalt-700);
$color-cobalt-600: var(--color-cobalt-600);
$color-cobalt-500: var(--color-cobalt-500);
$color-cobalt-400: var(--color-cobalt-400);
$color-cobalt-300: var(--color-cobalt-300);
$color-cobalt-200: var(--color-cobalt-200);
$color-cobalt-100: var(--color-cobalt-100);
$color-cobalt-50: var(--color-cobalt-50);
$color-amethyst-950: var(--color-amethyst-950);
$color-amethyst-900: var(--color-amethyst-900);
$color-amethyst-800: var(--color-amethyst-800);
$color-amethyst-700: var(--color-amethyst-700);
$color-amethyst-600: var(--color-amethyst-600);
$color-amethyst-500: var(--color-amethyst-500);
$color-amethyst-400: var(--color-amethyst-400);
$color-amethyst-300: var(--color-amethyst-300);
$color-amethyst-200: var(--color-amethyst-200);
$color-amethyst-100: var(--color-amethyst-100);
$color-amethyst-50: var(--color-amethyst-50);
$black: var(--black);
$gray-1000: var(--gray-1000);
$gray-900: var(--gray-900);
$gray-800: var(--gray-800);
$gray-700: var(--gray-700);
$gray-600: var(--gray-600);
$gray-500: var(--gray-500);
$gray-400: var(--gray-400);
$gray-300: var(--gray-300);
$gray-200: var(--gray-200);
$gray-100: var(--gray-100);
$white: var(--white);

$font-display: var(--font-display);
$display-action: var(--display-action);
$font-text: var(--font-text);
$text-dark-theme-regular: "wght" 360;
$text-light-theme-regular: "wght" 380;
$modularscale: (
        base: 16px,
        ratio: 1.25
);
$text-width: var(--width-text);
$block-width: var(--width-block);

/* ----- Spacing ----- */
$spacing-kerning: var(--spacing-kerning);
$spacing-letter-spacing-display: var(--spacing-letter-spacing-display);
$spacing-letter-spacing-title: var(--spacing-letter-spacing-title);
$spacing-letter-spacing-text: var(--spacing-letter-spacing-text);
$spacing-display-line-height: var(--spacing-display-line-height);
$spacing-large-text-line-height: var(--spacing-large-text-line-height);
$spacing-body-line-height: var(--spacing-body-line-height);
$spacing-25: var(--spacing-25);
$spacing-50: var(--spacing-50);
$spacing-100: var(--spacing-100);
$spacing-150: var(--spacing-150);
$spacing-200: var(--spacing-200);
$spacing-300: var(--spacing-300);
$spacing-400: var(--spacing-400);
$spacing-600: var(--spacing-600);
$spacing-800: var(--spacing-800);
$spacing-1600: var(--spacing-1600);

/* ----- Screen sizes ----- */
$screen-size-xxl: 160rem;
$screen-size-xl: 120rem;
$screen-size-lg: 90rem;
$screen-size-md: 64rem;
$screen-size-sm: 48rem;
