---
import MainLayout from "../layouts/main.astro";

import projects from "../data/projectList.json";
import Tag from "../components/Tag";
---
<MainLayout>
    <header class="hero --pageBanner">
        <h1 class="display --name">
            <span>Olivia</span>
            <span>De Scheerder</span>
        </h1>
        <!--<h2>@Palingenae</h2>-->
        <p class="prose --lead">Projects hosted on Github. Sorted by status.</p>
    </header>
    <!--<hr class="separator">-->
    <section class="section collection">
        {
            projects.map(({name, repoName, status, statusClass, tech, type, typeClass, repoUrl, published, publicUrl, description}) => (
                <div class="collection__card">
                    <div class="card">
                        <div class="card__header">
                            <span class={`card__meta__repoType ${typeClass}`}>{ type }</span>
                            <h3 class="card__title">{ name }</h3>
                            <p class="card__meta__repo">
                                <span class="card__meta__repoName">{ repoName }</span>
                                <span class={`card__meta__repoStatus ${statusClass}`}>{ status }</span>
                            </p>
                        </div>
                        <div class="card__content">
                            <p class="prose">{ description }</p>
                            <div class="card__meta__tagsContainer">
                                {
                                    tech.map((tool: string) => (
                                        <Tag label={ tool } variant="outline"/>
                                    ))
                                }
                            </div>
                        </div>
                        <div class="card__footer">
                            {
                                repoUrl !== "" ?
                                <a class="link --ui" href={ repoUrl } target="_blank" rel="noopener">Repository</a>
                                : 
                                <span class="card__meta__publicStatus --soon">Repository available soon</span>
                            }
                            
                            { published === true ? <a class="link --ui" href={ publicUrl } target="_blank" rel="noopener">Published project</a> : <span class="card__meta__publicStatus --soon">Available soon</span>}
                        </div>
                    </div>
                </div>
            ))
        }
    </section>
</MainLayout>
