---

---

<nav class="navigation">
    <div class="navigation__bar">
        <a class="link --siteName" href="/"> Pali.</a>
        <div class="navigation__horizontal">
            <button type="button" data-theme-toggle class="themeToggler">
                <i data-theme-icon class="icon iconoir-half-moon" aria-hidden>
                    {" "}
                </i>
            </button>

            {
                /* Seeing this here? Yeah, it will be available later :)
                            <span><Icon iconName="translate" /> FR</span> */
            }
        </div>
    </div>
</nav>
