---
import '../assets/styles/styles.scss';
import Footer from '../components/Footer';
import Navigation from "../components/Navigation.astro";
---
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"/>
        <title>Olivia De Scheerder :: Github Projects</title>
    </head>
    <body>
        <Navigation/>
        <slot />
        <Footer />
        <script src="../utils/themeSwitcher.js"></script>
    </body>
</html>