---
import '../assets/styles/styles.scss';
import Footer from '../components/Footer';
---
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Olivia De Scheerder :: Github Projects</title>
    </head>
    <body>
        <slot />
        <Footer />
    </body>
</html>